<div class="row">
    <div id="login" class="col s6 offset-s3">
        <h4 class="center">Задать новый пароль</h4>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Пароль</label>
                <span class="helper-text" data-error="Введите пароль"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            {{#if error}}
                <p class="alert">{{error}}</p>
            {{/if}}

            <button type="submit" class="btn btn-primary">Обновить пароль</button>
        </form>
    </div>
</div>
